%p#notice= notice

%p
  %b Корпус:
  = @employee.building

= link_to 'Редактировать', edit_employee_path(@employee), class: "btn btn-success"
\|
= link_to 'Назад', employees_path, class: "btn btn-success"
