%p#notice= notice

%p
  %b Должность:
  = @worker.position

= link_to 'Редактировать', edit_worker_path(@worker), class: "btn btn-success"
\|
= link_to 'Назад', workers_path, class: "btn btn-success"
